@use "@styles/mixins/responsive";

.congratulations {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-2xl);
  margin: auto;
  max-width: 560px;
}

.title {
  font-size: var(--Font-size-2xl);
  @include responsive.apply(md) {
    font-size: var(--Font-size-3xl);
  }
}

.subtitle {
  font-size: var(--Font-size-lg);

  @include responsive.apply(md) {
    font-size: var(--Font-size-2xl);
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: var(--Spacing-lg);

  @include responsive.apply(md) {
    gap: var(--Spacing-2xl);
  }
}
