@use "@styles/mixins/responsive";

.card {
  background: transparent;
  cursor: pointer;
  perspective: 1000px;
  width: 100%;

  &.flip .inner {
    transform: rotateY(180deg);
  }
}

.inner {
  aspect-ratio: 210 / 260;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.face {
  backface-visibility: hidden;
  background-color: var(--Color-light);
  border-radius: var(--Spacing-radius-lg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-sm);
  height: 100%;
  justify-content: center;
  left: 0;
  padding: var(--Spacing-md);
  position: absolute;
  top: 0;
  width: 100%;
}

.back {
  background-color: var(--Color-primary-base);
  transform: rotateY(180deg);
  img {
    object-fit: contain;
    display: block;
    height: auto;
    width: 100%;
  }
}

.image {
  border-radius: var(--Spacing-radius-lg);
  display: block;
  flex: 1;
  width: 100%;
}

.name {
  font-size: var(--Font-size-xs);

  @include responsive.apply(md) {
    font-size: var(--Font-size-base);
  }
}

.status {
  font-size: var(--Font-size-2xs);

  @include responsive.apply(md) {
    font-size: var(--Font-size-xs);
  }
}
