.charactersGrid {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-md);
}

.title {
    color: var(--Color-text-primary);
    font-size: var(--Font-size-xl);
    font-weight: var(--Font-weight-bold);
}

.grid {
    display: grid;
    gap: var(--Spacing-padding-md);
    gap: var(--Spacing-lg);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
}
