@use "./fonts" as *;

@use "./colors" as *;
@use "./variables" as *;

@use "./reset" as *;

@use "./layouts" as *;

html {
  font-size: 16px;
}

body {
  background-color: var(--Color-background-base);
  color: var(--Color-gray-500);
  font-family: var(--Font-family);
  font-size: 1rem;
  font-weight: 300;
}
