.gameContainer {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-xl);
  justify-content: center;
  margin: auto;
  max-width: 1040px;
  min-height: 100vh;
  padding: var(--Spacing-xl) 0;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  img {
    max-width: 520px;
  }
  .title {
    background-color: var(--Color-secondary-base);
    border-radius: var(--Spacing-radius-full);
    color: var(--Color-text-primary);
    font-size: var(--Font-size-xl);
    font-weight: var(--Font-weight-bold);
    padding: var(--Spacing-xs) var(--Spacing-md);
  }
}
